



h1{
    padding: 20px;
    margin:0;
    font-size:50px;
}
hr{
    height: 2px;
    border: 0px;
    margin:0;
}
.produtos{
    width: 90%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 25px;
    margin: auto;
    padding: 30px;

}
.container{

}
#menu-carrinho{
    display:flex; /*flex aqui - novo*/
    justify-content:space-around; /*e distribuição de espaço aqui - novo*/
    width: 100%;
    margin:0;
    padding:0;
}
#menu-carrinho li{
    display: inline-block;
    padding:5px;
}

/* Footer */
 /* ADAPTAR CSS PARA BOOTSTRAP E FAZER FUNÇÕES */
